<h2 style='text-align: center'>This is the About for the application </h2>
<h1 style='text-align: center'>Alpha Blog</h1>

<%= link_to 'Articles listing', articles_path %> |
<%= link_to 'Home page', root_path %>
